absl-py==0.8.1
asgiref==3.2.10
astor==0.8.0
audioread==2.1.8
authy==2.2.5
brotlipy==0.7.0
cachetools==3.1.1
certifi==2020.11.8
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.1
defusedxml==0.7.0rc1
Django==3.1.1
django-allauth==0.42.0
django-crispy-forms==1.9.2
gast==0.2.2
mysqlclient==2.0.3
numba==0.47.0
numpy==1.17.3
oauthlib==3.1.0
opt-einsum==3.1.0
pandas==1.2.3
phonenumbers==8.12.0
Pillow==7.2.0
protobuf==3.10.0
psycopg2==2.8.6
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.20
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-decouple==3.4
python-dotenv==0.12.0
python-resize-image==1.1.19
python3-openid==3.2.0
pytz==2020.1
PyYAML==5.1.2
requests==2.25.1
requests-oauthlib==1.2.0
resampy==0.2.2
rsa==4.0
scipy==1.6.1
seaborn==0.10.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
SoundFile==0.10.3.post1
sqlparse==0.3.1
termcolor==1.1.0
tinify==1.5.1
tornado==6.0.4
urllib3==1.25.9
Werkzeug==0.16.0
whitenoise==5.2.0
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
